html, body {
    background-color:#FC5D9D;
    font-family:'DM Sans', sans-serif;
}

button {
    background-color: #FC5D9D;
    border-style:inset;
}

p {
    width:300px;
    font-size:17px;
}

h1 {
    font-size:30px;
    text-align:center;
    background-color: #F8C596;
    border-radius: 10px;
    padding: 20px;
    width:96.7%;
  margin: 0 auto;
    
}

h2 {
    text-align:center;
    font-size:15px;
}

.box {
    border: 2px solid #333;
    width:auto;
    border-radius: 10px;
    margin:0 auto;
}

.container {
    display: flex;
    overflow:auto;
    gap:20px;
  }

.description, .members {
    flex: 1;
  }

.description {
    margin-top:50px;
    padding-left:50px;
    height:460px;
    overflow-y: auto;
}

.members {
    margin-top:40px;
    padding-top:0;
    height:85%;
    width:300px;
    margin-right:100px;
    padding-left:10px;
    border: 4px dotted #F8C596;
    width: 300px; /* Adjust width as needed */
        height: 450px; /* Adjust height as needed */
        overflow: auto; /* This makes the div scrollable */
        padding: 10px;
        text-align:center;
}


li:hover {
    color:#F8C596;
}

h4 {
    font-size:20px;
    color:#F8C596
}

h3 {
    font-size:30px;
    margin-top:10px;
}

.audio-player {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:absolute;
    bottom:10px;
    right:10px; 
}

/* Minimal styles for the audio controls */
.audio-controls button {
    padding: 5px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
}

button {
    font-family:'DM Sans', sans-serif;
    border:1.5px solid rgb(193, 34, 113);
    background-color:white;
}

.musicplayer {
  position:absolute;
  bottom:20px;
  right:20px;
}

select {
    font-family:'DM Sans', sans-serif;
}

button:hover {
  text-decoration: underline;
  font-style:italic;
}