html {
    background-color:hotpink;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 25px;
    text-decoration: underline;
}

h1:hover {
    color:yellow;
}

.entry-1 {
    font-size:15px;
    width:200px;
    padding:100px;
    color:rgb(143, 28, 85);
    left:0;
}

a {
    color:rgb(143, 28, 85);
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
  }


button {
    color:yellow;
    background-color: hotpink;
    border-style:inset;
}

.entries {
    position:relative;
}

.entry-1, .entry-2 {
    position:absolute;
  }

  .entry-2 {
    font-size:15px;
    width:200px;
    padding:100px;
    color:rgb(143, 28, 85);
    right:0;
    left:300px;
}

.entry-3 {
    font-size:15px;
    width:200px;
    padding:100px;
    color:rgb(143, 28, 85);
    right:0;
    margin-left:600px;
}

 button {
    background-color:green;
    color:black;
    border:none;
 }