body {
    background-color:hotpink;
}

.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 93vh; /* Set height to full viewport height */
  }
  
  .flex-container {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent items from wrapping to next line */
    width:1000px;
  }
  
  .flex-item {
    flex: 0 0 auto; /* Ensure items do not grow or shrink */
    width: 200px; /* Set the width of each item */
    height: 300px; /* Set the height of each item (optional) */
    margin-right: 15px; /* Adjust spacing between items */
    margin-left:100px;
    border-radius:30px;
    text-align:center;
    padding-top:10px;
    text-wrap:wrap;
    font-size:14px;
    padding:15px;
  }
  
  .text {
    position:absolute;
    text-align:center;
    color:black;
  }

  button {
    background-color:none;
  }