html{
    background-color:#F8C596;
    color:#FC5D9D;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size:25px;
    text-align: center;
    border: 2px dotted #FC5D9D;
    padding-top: 25px;
    width: 200px;
    height: 110px;
    margin-left: 43%;
    border-radius: 30px;
}

#main-content {
    visibility: hidden;
}

h2 {
    text-align:center;
    font-size:18px;
}

p {
    width:300px;
    text-align:center;
    margin:auto;

}

button {
    color:yellow;
    background-color: hotpink;
    border-style:inset;
}

a {
    color:rgb(203, 57, 130);
    text-decoration:none;
}

a:hover {
    color:yellow;
    text-decoration:underline;
}

h3:hover {
    color:yellow;
}

.marquee-top {
    color:#FC5D9D;
    margin:0;
    padding:0;
  }
